<div class="container">
    <div class="row">
        <div class="col-12 breadcrumb-place">
            <a class="page-description" routerLink="/">Home </a>
            <span class="page-description" *ngIf="mainPageTitle !== ''">| {{mainPageTitle}} </span>
            <span class="page-description" *ngIf="pageTitle !== ''">| {{pageTitle}}</span>
        </div>
      </div>
    <div class="row">
        <aside class="col-md-3">
            <div class="card p-3 h-100">
                <nav class="nav flex-column nav-pills"> 
                    <a class="nav-link" (click)="account()" routerLinkActive="active">Account Info</a> 
                    <a class="nav-link" (click)="order()" routerLinkActive="active">My orders</a> 
                    <a class="nav-link" (click)="wishlist()" routerLinkActive="active">My Favorites</a>
                    <a class="nav-link" (click)="transaction()" routerLinkActive="active">Transactions</a> 
                    <a class="nav-link" (click)="logout()">Log out</a> 
                </nav>
            </div> 
        </aside>
        <aside class="col-md-9">
            <router-outlet></router-outlet>
        </aside>
    </div>
</div>