<!-- <div class="home-btn d-none d-sm-block">
  <a routerLink="/"><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div> -->
<div class="d-flex-center mt-5">
    <div class="authentication-page-size">
        <div class="card-no-box p-4 auth-box-shadow">
                <div class="row">
                    <div class="text-center">
                        <!-- <div><a routerLink="/" class="logo"><img src="assets/images/logo-sm.png" height="20" alt="logo"></a></div> -->
                        <h2 class="header-sign">{{pageTitle}}</h2>
                        <p class="text-muted">This will be used with your email to sign in</p>
                    </div>
                    <div *ngIf="tokenNew  && emailNew">

                        <form [formGroup]="formDataNew" (ngSubmit)="onSubmit(formDataNew?.value)">
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="pass">Password </label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control remove-border-right"
                                                    formControlName="password"
                                                    [type]="hidePassword? 'password' : 'text'"
                                                    placeholder="8+ characters required">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-border-color remove-border-left"
                                                        type="button" (click)="hidePassword = !hidePassword">
                                                        <i *ngIf="hidePassword"
                                                            class="ri-eye-off-line"></i>
                                                        <i *ngIf="!hidePassword" class="ri-eye-line"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="error-message"
                                                *ngIf="submitted && formDataNew.get('password').errors">
                                                <div *ngIf="formDataNew.get('password').errors['required']">Password is
                                                    required</div>
                                                <div *ngIf="formDataNew.get('password').hasError['minLength']">Password
                                                    must be
                                                    at least 8 characters</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="pass">Confirm Password</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control remove-border-right"
                                                    formControlName="confirm_password"
                                                    [type]="hidePassword? 'password' : 'text'"
                                                    placeholder="Re-Type Password">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-border-color remove-border-left"
                                                        type="button" (click)="hidePassword = !hidePassword">
                                                        <i *ngIf="hidePassword"
                                                            class="ri-eye-off-line"></i>
                                                        <i *ngIf="!hidePassword" class="ri-eye-line"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="error-message"
                                                *ngIf="submitted && formDataNew.get('confirm_password').errors">
                                                <div *ngIf="formDataNew.get('confirm_password').errors['required']">
                                                    Confirm
                                                    Password is required</div>
                                                <div *ngIf="formDataNew.get('confirm_password').errors['mustMatch']">
                                                    Passwords
                                                    must match</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 text-center">
                                <button class="btn btn-secondary font-weight-600 font-size-18 full-width" type="submit"
                                    [disabled]="isProcessing">
                                    <span *ngIf="isProcessing" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{btnText}}</button>
                            </div>

                        </form>
                    </div>

                    <div *ngIf="tokenOld && emailOld">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData?.value)">
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="pass">Password </label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control remove-border-right"
                                                    formControlName="new_password"
                                                    [type]="hidePassword? 'password' : 'text'"
                                                    placeholder="8+ characters required">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-border-color remove-border-left"
                                                        type="button" (click)="hidePassword = !hidePassword">
                                                        <i *ngIf="hidePassword"
                                                            class="ri-eye-off-line"></i>
                                                        <i *ngIf="!hidePassword" class="ri-eye-line"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="error-message"
                                                *ngIf="submitted && formData.get('new_password').errors">
                                                <div *ngIf="formData.get('new_password').errors['required']">Password is
                                                    required</div>
                                                <div *ngIf="formData.get('new_password').hasError['minLength']">Password
                                                    must be
                                                    at least 8 characters</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label for="pass">Confirm Password</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control remove-border-right"
                                                    formControlName="confirm_new_password"
                                                    [type]="hidePassword? 'password' : 'text'"
                                                    placeholder="Re-Type Password">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-border-color remove-border-left"
                                                        type="button" (click)="hidePassword = !hidePassword">
                                                        <i *ngIf="hidePassword"
                                                            class="ri-eye-off-line"></i>
                                                        <i *ngIf="!hidePassword" class="ri-eye-line"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="error-message"
                                                *ngIf="submitted && formData.get('confirm_new_password').errors">
                                                <div *ngIf="formData.get('confirm_new_password').errors['required']">
                                                    Confirm
                                                    Password is required</div>
                                                <div *ngIf="formData.get('confirm_new_password').errors['mustMatch']">
                                                    Passwords
                                                    must match</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 text-center">
                                <button class="btn btn-secondary font-weight-600 font-size-18 full-width" type="submit"
                                    [disabled]="isProcessing">
                                    <span *ngIf="isProcessing" class="spinner-border spinner-border-sm mr-1"></span>
                                    {{btnText}}</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

    </div>

</div>
<!-- end page -->