.mobile-block {
    display: none
}

@media(min-width: 1290px) {
    .show-xl-tag {
        display: block !important;
    }

    .show-sm-tag {
        display: none !important;
    }

    .show-xs-tag {
        display: none !important;
    }
}

@media(max-width: 992px) {

    .card-product-list {
        margin-bottom: 20px
    }

    .card-product-list .img-wrap {
        border-bottom: 1px solid #dee2e6
    }
}

@media all and (max-width: 768px) {

    .place-order-show-sm {
        display: block !important;
    }

    .place-order-show-md {
        display: none !important;
    }

    .section-header .logo {
        max-height: 36px;
        width: auto
    }

    .navbar-expand .navbar-collapse {
        flex-direction: column
    }

    .gallery-wrap .thumbs-wrap {
        margin-bottom: 1rem;
        white-space: nowrap;
        overflow-x: auto
    }

    .mobile-order-first {
        order: -1
    }

    .mobile-order-1 {
        order: 1
    }

    .mobile-order-2 {
        order: 2
    }

    .mobile-order-3 {
        order: 3
    }

    .mobile-py {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .mobile-pb {
        padding-bottom: 20px
    }

    .mobile-pt {
        padding-top: 20px
    }
}

@media all and (max-width: 468px) {
    .banner-section {
        .banner-bg-size {
            height: 240px !important;
        }

        .banner-image {
            height: 240px !important;
        }
    }

    .auth-box {
        width: 90vw !important;
    }

    .show-sm-tag {
        display: none !important;
    }

    .show-xs-tag {
        display: block !important;
    }
    .card-product-grid .info-wrap {
        padding: 0.75rem !important;
    }
    .card-product-grid .buttom-wrap {
        padding: 0.75rem !important;
    }
}