$bg-color: #f6f7f9;
$primary: #33b750;
$secondary: #52c9cb;
$info: #564ab1;
$warning: #f4a700;
$light-gray: #dee2e6;
$gray: #ccd1d6;
$medium: #9da1a7;
$side-menu-link: #51585e;
$success: #3fd560;
$light-dark: #212529;
$dark: #000;
$danger: #ff3d60;
$white: #fff;
$light: #f6f7f9;