$bg-color: #F8F0FA;
$primary: #33b750;
$secondary: #52c9cb;
$info: #564ab1;
$light-gray: #dee2e6;
$gray: #ccd1d6;
$medium: #9da1a7;
$side-menu-link: #51585e;
$success: #3fd560;
$light-dark: #212529;
$dark: #000;
$danger: #ff3d60;
$white: #fff;
$light: #e7f1ff;

$primary: $primary;
$secondary: $secondary;
$info: $info;
$medium: $medium;
$success: $success;
$dark: $dark;
$danger: $danger;
$white: $white;
$light: $light;