<div class="container">
    <app-pagetitle [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <aside class="col-md-6 col-lg-5">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap img-thumbnail">
                            <!-- Swiper Main Image -->
                            <swiper
                                style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff; margin-bottom: 1rem;"
                                [loop]="true" [spaceBetween]="10" [navigation]="true"
                                [thumbs]="{ swiper: thumbsSwiper }" class="mySwiper2">
                                <ng-template swiperSlide *ngFor="let item of productDetails?.extra_images">
                                    <img [src]="item?.image">
                                </ng-template>
                            </swiper>

                            <!-- Swiper thumbnails -->
                            <swiper (swiper)="thumbsSwiper = $event" [loop]="false" [spaceBetween]="10"
                                [slidesPerView]="4" [freeMode]="true" [watchSlidesProgress]="true" class="mySwiper">
                                <ng-template swiperSlide *ngFor="let item of productDetails?.extra_images">
                                    <img [src]="item?.image">
                                </ng-template>
                            </swiper>
                        </div>
                    </article>
                </aside>
                <div class="col-md-6 col-lg-7">
                    <article class="ps-lg-3">
                        <h4 class="title text-dark mt-lg-4">{{productDetails?.name | titlecase}}</h4>
                        <div class="text-primary mt-2">{{productDetails?.category?.name | titlecase}}</div>
                        <!-- <small class="text-muted cursor-pointer"><b>{{productDetails?.category?.name}}</b></small> -->
                        <div class="text-secondary mt-2">
                            <i class="fe fe-tag tags-icon"></i>
                            <span>
                                <span class="tags">{{productDetails?.tags | lowercase}}</span>
                            </span>
                        </div>
                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <ng-template #t let-fill="fill">
                                    <span class="p-rating-star" [class.full]="fill === 100">
                                        <span class="p-rating-half" [style.width.%]="fill"><i
                                                class="fa fa-star"></i></span><i class="fa fa-star"></i>
                                    </span>
                                </ng-template>
                                <ngb-rating [rate]="productDetails?.rating" [starTemplate]="t" [readonly]="true"
                                    [max]="5"></ngb-rating>

                            </ul>
                            <b class="label-rating text-primary">{{productDetails?.rating}}</b> <i class="dot"></i>
                            <span class="label-rating text-muted">
                                <i class="fe fe-shopping-bag"></i> {{productDetails?.sales_count}} orders </span>
                            <i class="dot"></i> <span class="label-rating text-success">Verified</span>
                        </div>
                        <div class="mb-3"> <var class="price h5"> {{productDetails?.currency}}
                                {{productDetails?.new_price}}</var> <span class="text-muted">/{{productDetails?.unit | lowercase}}</span>
                            <del><span class="text-muted ml-3">{{productDetails?.currency}}
                                    {{productDetails?.old_price}}</span></del>
                        </div>
                        <p [innerHTML]="productDetails?.description"></p>
                        <!-- <dl class="row">
                            <dt class="col-3">Model#</dt>
                            <dd class="col-9">Hugo Boss</dd>
                            <dt class="col-3">Color</dt>
                            <dd class="col-9">Brown</dd>
                            <dt class="col-3">Material</dt>
                            <dd class="col-9">Cotton, Jeans </dd>
                            <dt class="col-3">Delivery</dt>
                            <dd class="col-9">Russia, USA, and Europe </dd>
                        </dl> -->
                        <hr>

                        <a class="btn btn-primary" [class.disabled]="!productDetails?.stock_availability" (click)="addToCart(productDetails?.id)">
                            <i class="me-2 fe fe-shopping-cart"></i>
                            <span>{{ !productDetails?.stock_availability ? "Out of stock": "Add to cart" }}</span>
                        </a>
                        <a class="btn btn-secondary mx-3" [routerLink]="['/checkout']" [class.disabled]="!canCheckout"> Checkout </a>
                        <a class="btn btn-light" (click)="saveNewItem()"> <i class="me-2 fe fe-heart"></i> Save </a>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <h4 class="card-title">Related Chocolates</h4>
        <div class="card pt-3 px-3">
            <app-related-products [productId]="productId"></app-related-products>
        </div>
    </div>

    <!-- Product Reviews Section -->
    <div>
        <div class="row">
            <div class="col-6 align-self-end">
                <h5 class="card-title mb-0">Reviews </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-outline-primary float-end"
                    (click)="writeOrReplyReview(productDetails?.id, false)">Write Review </button>
            </div>
        </div>
        <hr>
        <blockquote class="card" *ngIf="reviewsDisplayed?.length <= 0">
           <app-empty-record></app-empty-record>
        </blockquote>
        <blockquote class="card" *ngFor="let review of reviewsDisplayed">
            <div class="card-body">
                <div>
                    <div class="float-end d-flex mb-3">
                        <div class="btn-group d-inline-flex me-2">
                            <span class="mr-2">{{review?.likes}}</span>
                            <a (click)="likeOrDislikeReview(review?.id, true)" class="float-end mr-3" data-bs-toggle="tooltip"
                                data-bs-title="Like">
                                <i class="fe fe-thumbs-up align-middle"></i>
                            </a>
                            <span class="mr-2">{{review?.dislikes}}</span>
                            <a (click)="likeOrDislikeReview(review?.id, false)" class="mr-3 float-end" data-bs-toggle="tooltip"
                                data-bs-title="Dislike">
                                <i class="fe fe-thumbs-down align-middle"></i>
                            </a>
                        </div>
                        <button class="float-end btn-sm btn btn-outline-primary" (click)="writeOrReplyReview(review?.id, true)"> 
                            Reply
                        </button>
                    </div>
                    <div class="icontext">
                        <img *ngIf="!review?.reviewer?.image" src="assets/images/avatar1.jpg" class="img-xs icon rounded-circle">
                        <img *ngIf="review?.reviewer?.image" [src]="review?.reviewer?.image" class="img-xs icon rounded-circle">
                        <div class="text">
                            <h6 class="mb-0">{{review?.reviewer?.first_name}} {{review?.reviewer?.last_name}}</h6>
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <ng-template #t let-fill="fill">
                                        <span class="p-rating-star" [class.full]="fill === 100">
                                            <span class="p-rating-half" [style.width.%]="fill"><i
                                                    class="fa fa-star"></i></span><i class="fa fa-star"></i>
                                        </span>
                                    </ng-template>
                                    <ngb-rating [rate]="review?.rating" [starTemplate]="t" [readonly]="true" [max]="5">
                                    </ngb-rating>
                                </ul>
                                <b class="dot"></b>
                                <small class="label-rating text-muted"> Posted on {{review?.date_created | date: 'medium'}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="">{{review?.title}} </h6>
                        <p> {{review?.summary}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" *ngIf="review?.replies?.length > 0"> <div class="border-bottom"> </div></div>
                    <div class="col-1"></div>
                    <div class="col-11">
                        <blockquote *ngFor="let reply of review?.replies" class="border-bottom my-2">
                            <div class="float-lg-end d-flex mb-3">
                                <!-- <div class="btn-group d-inline-flex me-2">
                                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip"
                                        data-bs-title="Like">
                                        <i class="fe fe-thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-light btn-sm float-end" data-bs-toggle="tooltip"
                                        data-bs-title="Dislike">
                                        <i class="fe fe-thumbs-down"></i>
                                    </button>
                                </div>
                                <button class="btn btn-light btn-sm float-end "> <i class="fa fa-ellipsis-v"></i>
                                </button> -->
                            </div>
                            <div class="icontext">
                                <img src="assets/images/avatar1.jpg" class="img-xs icon rounded-circle">
                                <div class="text">
                                    <h6 class="mb-0">{{reply?.reviewer}} </h6>
                                </div>
                            </div>
                            <div class="mt-3">
                                <p> {{reply?.summary}}</p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </blockquote>
        
    </div>
</div>