<div class="container">
    <div class="row">
        <div class="col-12 breadcrumb-place">
            <a class="page-description" routerLink="/">Home </a>
            <span class="page-description" *ngIf="mainPageTitle !== ''">| {{mainPageTitle}} </span>
            <span class="page-description" *ngIf="pageTitle !== ''">| {{pageTitle}}</span>
        </div>
    </div>
    <h4 class="card-title">All Categories</h4>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/8.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/6.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/7.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/9.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/10.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/5.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/6.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid" (click)="viewCatDetails('Category Name')">
                <div class="img-wrap">
                    <img src="assets/images/items/8.jpg">
                    <span class="topbar"> <span class="badge bg-success"> New </span> </span>
                </div>
                <div class="info-wrap">
                    <p class="title"> White Chocolate</p>
                    <div class="rating-wrap">
                        <p class="mb-0">
                            Some description, this is our new category you got to try
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>