<div class="cat-slider-bg page-padding-top">
<div class="d-flex justify-content-between mx-2">
    <div ><h4>Chocolate Types</h4> </div>
    <div>
        <a [routerLink]="['/categories']" class="text-dark float-end">View All</a>
    </div>
</div>
<div class="mt-4">
    <swiper [config]="swiperConfig">
        <ng-template swiperSlide class="category-slider" *ngFor="let item of categories">
            <div (click)="viewCatDetails(item)">
                <div class="img-wrap-bg">
                    <img *ngIf="item?.image" class="img-md img-wrap-squared mb-2" [src]="item?.image">
                    <img *ngIf="!item?.image" class="img-md img-wrap-squared mb-2" src="assets/images/misc/product-placeholder.png">
                    <p class="mb-0 p-1 title">{{item?.name}}</p>
                </div>
            </div>
        </ng-template>

    </swiper>
</div>
</div>