<div class="mt-4">
    <swiper [config]="swiperConfig">
        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/1.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/2.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/3.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/4.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/5.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/6.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/7.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/8.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/12.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/10.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

        <ng-template swiperSlide class="category-slider">
            <div (click)="viewCatDetails('Category Name')">
                <div class="icon icon-lg mb-2 img-wrap-squared">
                    <img class="image" src="assets/images/items/9.jpg">
                </div>
                <small class="title">Category Name</small>
            </div>
        </ng-template>

    </swiper>
</div>