<header class="main-header fixed-top auto-hide bg-white scrolled-down">
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="[ '/']">
                <img src="assets/images/logo-lg-white.png" height="40" class="logo">
            </a>

            <div class="widgets-wrap d-xl-flex">
                <div class="widget-header ms-2">
                    <a class="icon icon-sm bg-gray-200" [routerLink]="['/cart']">
                        <i class="fe fe-shopping-bag fe-lg pb-1"></i>
                         <span class="notify" *ngIf="cartData?.data[0].product">{{cartData?.data?.length}}</span>
                    </a>
                </div>
                <div class="widget-header dropdown mx-3">
                    <a class="dropdown-toggle ms-3 icontext" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="icon">
                            <img src="assets/images/svg/user-circle-outline.svg" alt="">
                        </div>
                        <div class="text d-none d-lg-block" *ngIf="!isLoggedIn">
                            <small class="text-muted">Sign In / Sign Up</small>
                            <br>
                            <span class="text-dark"> My account </span>
                        </div>
                        <div class="text d-none d-lg-block" *ngIf="isLoggedIn">
                            <small class="text-muted">Hello</small>
                            <br>
                            <span class="text-dark"> {{userName}} </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" style="line-height: 28px; width: 200px;">
                        <li *ngIf="!isLoggedIn"> <a class="dropdown-item" [routerLink]="['/auth/signin']">Sign In</a> </li>
                        <li *ngIf="!isLoggedIn"> <a class="dropdown-item" [routerLink]="['/auth/signup']">Sign Up</a> </li>
                        <!-- <li *ngIf="!isLoggedIn"> <a class="dropdown-item" [routerLink]="['/help']">Help?</a> </li>   -->
                        <li *ngIf="isLoggedIn"> <a class="dropdown-item d-block d-md-none" [routerLink]="['/account']">My Account</a> </li>
                        <li *ngIf="isLoggedIn"> <a class="dropdown-item d-block d-md-none" [routerLink]="['/account/orders']">My Orders</a> </li>
                        <li *ngIf="isLoggedIn"> <a class="dropdown-item d-block d-md-none" [routerLink]="['/account/favorites']">My Favorites</a> </li>
                        <li *ngIf="isLoggedIn"> <hr class="dropdown-divider d-block d-md-none"></li>
                        <li *ngIf="isLoggedIn"> <a class="dropdown-item text-danger" (click)="logout()">Log Out</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>