<header class="main-header fixed-top auto-hide bg-white scrolled-down">
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="[ '/']">
                <img src="assets/images/logo.svg" height="40" class="logo">
            </a>

            <div class="widgets-wrap d-xl-flex">
                <div class="widget-header ms-2">
                    <a class="icon icon-sm bg-gray-200">
                        <i class="fe fe-user fe-lg"></i>
                    </a>
                </div>
                <div class="widget-header ms-2">
                    <a class="icon icon-sm bg-gray-200">
                        <i class="fe fe-shopping-cart fe-lg"></i> <span class="notify">0</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>