<div class="container">
    <div class="bg-cover-centered">
        <div class="bg-cover-centered-box">
            <div class="d-flex-center">
                <article class="card">
                    <div class="card-body">
                        <div class="mt-4 mx-auto text-center" style="max-width:600px"> 
                            <img src="assets/images/svg/shopping-complete.svg">
                            <div class="my-3">
                                <h4>Thank you for order</h4>
                                <p>Some information will be written here, bla bla lorem ipsum you enter into any new area of
                                    science, you almost always find yourself</p>
                            </div>
                            <div> 
                                <a [routerLink]="['/']" class="btn btn-outline-secondary mx-3">Go back home</a> 
                                <a [routerLink]="['/account/orders']" class="btn btn-primary">View orders</a> 
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>