<div class="center-xy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-4">
                    <img width="100px" height="100px" src="assets/images/svg/empty-record.svg" alt="">
                    <div class="text-center">
                        <h3 class="font-size-16 mt-3">No data found</h3>
                        <!-- <a class="btn btn-primary waves-effect waves-light" href="">Back to Dashboard</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>