<footer class="footer">

  <div class="container-fluid">
    <div class="row footer-top-container">

      <div class="col-12 col-xl-2 remove-left-margin">
        <div>
          <button type="button" class="btn header-item noti-icon">
            <img src="assets/images/logo-sm.png" alt="">
          </button>
        </div>
        <button type="button" class="btn header-item noti-icon">
          <img src="assets/images/svg/facebook.svg" alt="">
        </button>
        <button type="button" class="btn header-item noti-icon">
            <i class="fe fe-twitter text-secondary align-middle font-size-18"></i>
        </button>
        <button type="button" class="btn header-item noti-icon">
            <i class="fe fe-instagram text-secondary align-middle font-size-18"></i>
        </button>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <div class="footer-head">
          Support
        </div>
        <ul>
          <li> <a routerLink="">Contact Us</a> </li>
          <li> <a routerLink="">FAQs</a> </li>
          <li> <a routerLink="">In-Store Pickup</a> </li>
          <li> <a routerLink="">Return Policy</a> </li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-xl-2">
        <div class="footer-head">
          Shop
        </div>
        <ul>
          <li> <a routerLink="">Cookies</a> </li>
          <li> <a routerLink="">Drinks</a> </li>
          <li> <a routerLink="">Toppings</a> </li>
          <li> <a routerLink="">Snacks</a> </li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-xl-2">
        <div class="footer-head">
          Company
        </div>
        <ul>
          <li> <a routerLink="">Our Story</a> </li>
          <li> <a routerLink="">Careers</a> </li>
          <li> <a routerLink="">Terms & Conditions</a> </li>
          <li> <a routerLink="">Privacy & Cookie Policy</a> </li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <div class="footer-head">
          Contact Us
        </div>
        <ul>
          <li> <a href="tel:617-910-8880">617-910-8880</a> </li>
          <li> <a href="mailto:">support@mail.com</a> </li>
          <li> <a routerLink="">2 Maple Street, Boston, <br> MA 89898</a> </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row footer-bottom">
    <div class="col-12 text-center align-self-center">
      Copyright (c) 2022. I & I Rose Garden. All Rights Reserved
    </div>
  </div>

</footer>