<article class="card">
    <div class="card-body">
        <div class="itemside align-items-center">
            <div class="aside">
                <img src="assets/images/avatar1.jpg" class="icon-md img-avatar">
            </div>
            <div class="info">
                <h6 class="title">{{userDetails?.full_name}}</h6>
                <p>Email: {{userDetails?.email}} <br>
                    Phone: {{userDetails?.phone_number}} </p>
            </div>
            <a  (click)="updateUserData(userDetails)" class="px-2"><i class="fe fe-edit"></i></a>
        </div>
        <hr>
        <p class="form-label mb-2">Delivery addresses</p>
        <div class="row g-2 mb-3">
            <div class="col-md-6" *ngFor="let address of userDetails?.addresses">
                <article class="box cursor-pointer" (click)="selectDeliveryAddress(address)" tooltop="Click to set active">
                    <div class="mx-2 d-flex justify-content-between">
                        <span>
                            <i class="fe fe-map-pin"></i>
                            <span class="">
                                {{address?.state}}, {{address?.city}},<br> {{address?.address}}, {{address?.apartment_number}}
                            </span>
                        </span>
                        <span class="address-primary-icon" *ngIf="address?.primary">
                            <img src="assets/images/svg/mark-circle.svg" alt="">
                        </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-outline-primary" (click)="addAddress()">
                <i class="me-2 fe fe-plus"></i> Add new address </a>
        </div>
        <!-- <hr>
        <p class="form-label mb-2">Payment methods</p>
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <article class="box d-flex justify-content-between">
                    <span>
                        <b class="mx-2">
                            <i class="fe fe-credit-card"></i>
                        </b> Visa •••• 9905, Exp: 12/21
                    </span>
                    <span class="address-primary-icon">
                        <img src="assets/images/svg/mark-circle.svg" alt="">
                    </span>
                </article>
            </div>

            <div class="col-md-6">
                <article class="box d-flex justify-content-between">
                    <span>
                        <b class="mx-2">
                            <i class="fe fe-smartphone"></i>
                        </b> MoMo •••• 9905
                    </span>
                    <span class="address-primary-icon">
                        <img src="assets/images/svg/mark-circle.svg" alt="">
                    </span>
                </article>
            </div>
        </div>
        <a href="#" class="btn btn-outline-primary">
            <i class="me-2 fe fe-plus"></i>
            Add payment method
        </a> -->

        <hr>
        <p class="form-label mb-2 mt-3">Useful info</p>
        <div class="row mb-3 box useful-info">
            <div class="col-4 text-center align-self-center">
                <a [routerLink]="['/account/orders']">
                    <p class="title">Total Orders</p>
                    <p class="count">{{userDetails?.order_count}}</p>
                </a>
            </div>
            <div class="col-4 border-start text-center align-self-center">
                <a [routerLink]="['/account/favorites']">
                    <p class="title">Saved Items</p>
                    <p class="count">{{userDetails?.saved_items}}</p>
                </a>
            </div>
            <div class="col-4 border-start text-center align-self-center">
                <a [routerLink]="['/account/orders']">
                    <p class="title">Return Orders</p>
                    <p class="count"> 4 </p>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <article class="box mb-3 bg-light"> 
                    <a class="btn float-end btn-outline-primary btn-sm" (click)="updateUserData(null)">Change</a>
                    <p class="title mb-0">Password</p> 
                    <small class="text-muted d-block" style="width:70%">You can change your password by clicking change button</small>
                </article>
            </div>
            <div class="col-sm">
                <article class="box mb-3 bg-light"> 
                    <a class="btn float-end btn-outline-danger btn-sm" href="#">Deactivate</a>
                    <p class="title mb-0">Remove account</p> 
                    <small class="text-muted d-block" style="width:70%">Once
                        you delete your account, there is no going back.</small>
                </article>
            </div>
        </div>
    </div>
</article>