<!-- <perfect-scrollbar [config]="configData"> -->
    <div class="dialog-wrapper" style="max-width: 500px;">
        <div class="dialog-head">
            <h4 class="dialog-head-title"> {{dialogTitle}}</h4>
            <span (click)="closeDialog()"> <i class="fe fe-x fe-lg"></i> </span>
        </div>

        <mat-divider class="no-spacing"></mat-divider>
        <div class="dialog-body" >
            <div *ngIf="data.userData">
                <form [formGroup]="userDataForm" (ngSubmit)="onSubmit(userDataForm?.value)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <label for="fname">First Name</label>
                                <input decimalOnly type="text" class="form-control" id="fname" formControlName="first_name" placeholder="First Name">
                                <div *ngIf="!first_name?.valid && first_name?.touched" class="error-message">First name
                                    is required</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="lname">Last Name</label>
                                <input decimalOnly type="text" class="form-control" id="lname" formControlName="last_name" placeholder="Last Name">
                                <div *ngIf="!last_name?.valid && last_name?.touched" class="error-message">Last name
                                    is required</div>
                            </div>
                        </div>

                    </div>

                    <mat-divider class="no-spacing"></mat-divider>
                    <div class="row mt-3">
                        <div class="col-12">
                            <span class="float-end">
                                <button type="button" class="btn btn-outline-secondary mx-3" (click)="closeDialog()">
                                    Cancel</button>
                                <button class="btn btn-primary" type="submit" [disabled]="isProcessing">
                                    <span *ngIf="isProcessing" class="spinner-border spinner-border-sm mr-1"></span>
                                    Update Profile</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="data.userData == null">

                <form [formGroup]="userPasswordForm" (ngSubmit)="onSubmit(userPasswordForm?.value)">
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="pass">Current Password </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control remove-border-right" formControlName="current_password"
                                            [type]="hideCurrentPassword? 'password' : 'text'" placeholder="Provide your current password">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light remove-border-left" type="button"
                                                (click)="hideCurrentPassword = !hideCurrentPassword">
                                                <i *ngIf="hideCurrentPassword" class="fe fe-eye-off"></i>
                                                <i *ngIf="!hideCurrentPassword" class="fe fe-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="error-message" *ngIf="userPasswordForm?.invalid && submitted">
                                        <div *ngIf="userPasswordForm?.get('current_password')?.hasError('required')">Current password is required</div>            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="font-weight-600" for="pass">New Password </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control remove-border-right" formControlName="password"
                                            [type]="hidePassword? 'password' : 'text'"
                                            placeholder="6+ characters required">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light remove-border-left" type="button"
                                                (click)="hidePassword = !hidePassword">
                                                <i *ngIf="hidePassword" class="fe fe-eye-off"></i>
                                                <i *ngIf="!hidePassword" class="fe fe-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="error-message" *ngIf="submitted">
                                        <div *ngIf="userPasswordForm?.get('password')?.hasError('required')">New password is required</div>
                                        <div *ngIf="userPasswordForm?.get('password')?.hasError('minlength')">New password must be
                                            6+ characters</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="font-weight-600" for="pass">Confirm New Password</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control remove-border-right"
                                            formControlName="confirm_password" placeholder="Re-Type Password"
                                            [type]="hidePassword? 'password' : 'text'">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light remove-border-left" type="button"
                                                (click)="hidePassword = !hidePassword">
                                                <i *ngIf="hidePassword" class="fe fe-eye-off"></i>
                                                <i *ngIf="!hidePassword" class="fe fe-eye"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="error-message" *ngIf="userPasswordForm?.invalid && submitted">
                                        <div *ngIf="userPasswordForm?.get('confirm_password')?.hasError('required')">
                                            Confirm new password is required</div>
                                        <div *ngIf="userPasswordForm?.get('confirm_password')?.hasError('mustMatch')">
                                            Passwords must match</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="no-spacing"></mat-divider>
                    <div class="row mt-3">
                        <div class="col-12">
                            <span class="float-end">
                                <button type="button" class="btn btn-outline-secondary mx-3" (click)="closeDialog()">
                                    Cancel</button>
                                <button class="btn btn-primary" type="submit" [disabled]="isProcessing">
                                    <span *ngIf="isProcessing" class="spinner-border spinner-border-sm mr-1"></span>
                                    Change Password</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- </perfect-scrollbar> -->