<div class="banner-section">
    <swiper class="banner-size" [loop]="true" [autoHeight]="true" [allowTouchMove]="true" [slidesPerView]="1"
        [spaceBetween]="0" [autoplay]="{ delay: 10000, disableOnInteraction: true }" [pagination]="{ clickable: true }"
        [navigation]="true">
        <!-- Banner Image s -->
        <ng-template swiperSlide>
            <div class="text-center banner-text">
                <h1 class="text-white">Chocolate at a click</h1>
                <p class="text-white">Discover the best chocolate and drinks in your area</p>
            </div>
            <img class="banner-image" src="assets/images/banners/bg-food.jpg" alt="">
        </ng-template>
        <ng-template swiperSlide>
            <div class="text-center banner-text">
                <h1 class="text-white">Order your chocolates online now</h1>
                <p class="text-white">Discover the best chocolate and drinks in your area</p>
            </div>
            <img class="banner-image" src="assets/images/banners/bg-food.jpg" alt="">
        </ng-template>
    </swiper>

</div>
<div class="container">
    <h4 class="card-title">Suggested Products</h4>
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap" (click)="productDetails('name: New Prodcuct')"> 
                    <img src="assets/images/items/4.jpg"> 
                    <span class="topbar"> <span class="badge bg-danger"> No stock </span> </span>
                </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title" (click)="productDetails('name: New Prodcuct')"> RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> 
                                <img src="assets/images/misc/stars-active.svg" alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> 
                    <img src="assets/images/items/4.jpg"> 
                </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> <img src="assets/images/items/4.jpg"> </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> <img src="assets/images/items/4.jpg"> </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> <img src="assets/images/items/4.jpg"> </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> <img src="assets/images/items/4.jpg"> </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> <img src="assets/images/items/4.jpg"> </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card card-product-grid">
                <div class="img-wrap"> <img src="assets/images/items/4.jpg"> </div>
                <div class="info-wrap">
                    <span class="text-warning">
                        <i class="fe fe-tag"></i>
                        <span class="tags">Sweet, Testy</span>
                    </span>
                    <p class="title">RAM 6GB 512GB Unlocked</p>
                    <div class="rating-wrap">
                        <ul class="rating-stars">
                            <li class="stars-active" style="width: 70%;"> <img src="assets/images/misc/stars-active.svg"
                                    alt=""> </li>
                            <li> <img src="assets/images/misc/starts-disable.svg" alt=""> </li>
                        </ul> <span class="label-rating text-warning">3.2</span>
                    </div>
                </div>
                <div class="bottom-wrap">
                    <a href="#" class="btn btn-primary float-end">
                        <span class="d-block d-sm-none">
                            <i class="fe fe-shopping-cart"></i></span>
                        <span class="d-none d-sm-inline-block">Add to cart</span>
                    </a>
                    <div class="price-wrap lh-sm"> <strong class="price"> GHS 295.50 </strong> <br><del
                            class="price-old"> GHS 190.30</del> </div>
                </div>
            </div>
        </div>
    </div>
</div>