<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                        <dd>GHS 52.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)">
                            <span class="d-block d-sm-none">
                                <i class="fe fe-shopping-cart"></i></span>
                            <span class="d-none d-sm-inline-block">
                                <i class="fe fe-shopping-cart mr-2"></i>Add to cart</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)">
                            <span class="d-block d-sm-none"><i class="fe fe-trash"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fe fe-trash mr-2"></i>Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                        <dd>GHS 52.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)">
                            <span class="d-block d-sm-none">
                                <i class="fe fe-shopping-cart"></i></span>
                            <span class="d-none d-sm-inline-block">
                                <i class="fe fe-shopping-cart mr-2"></i>Add to cart</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)">
                            <span class="d-block d-sm-none"><i class="fe fe-trash"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fe fe-trash mr-2"></i>Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                        <dd>GHS 52.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)">
                            <span class="d-block d-sm-none">
                                <i class="fe fe-shopping-cart"></i></span>
                            <span class="d-none d-sm-inline-block">
                                <i class="fe fe-shopping-cart mr-2"></i>Add to cart</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)">
                            <span class="d-block d-sm-none"><i class="fe fe-trash"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fe fe-trash mr-2"></i>Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                        <dd>GHS 52.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)">
                            <span class="d-block d-sm-none">
                                <i class="fe fe-shopping-cart"></i></span>
                            <span class="d-none d-sm-inline-block">
                                <i class="fe fe-shopping-cart mr-2"></i>Add to cart</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)">
                            <span class="d-block d-sm-none"><i class="fe fe-trash"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fe fe-trash mr-2"></i>Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                        <dd>GHS 52.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)">
                            <span class="d-block d-sm-none">
                                <i class="fe fe-shopping-cart"></i></span>
                            <span class="d-none d-sm-inline-block">
                                <i class="fe fe-shopping-cart mr-2"></i>Add to cart</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)">
                            <span class="d-block d-sm-none"><i class="fe fe-trash"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fe fe-trash mr-2"></i>Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                        <dd>GHS 52.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)">
                            <span class="d-block d-sm-none">
                                <i class="fe fe-shopping-cart"></i></span>
                            <span class="d-none d-sm-inline-block">
                                <i class="fe fe-shopping-cart mr-2"></i>Add to cart</span>
                        </button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)">
                            <span class="d-block d-sm-none"><i class="fe fe-trash"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fe fe-trash mr-2"></i>Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>