<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/5.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                    </td>
                    <td>
                        <dt class="text-dark">GHS 52.50</dt>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)"><i
                                class="fe fe-shopping-cart mr-2"></i>Add to cart</button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)"><i class="fe fe-trash"></i>
                            Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/6.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                    </td>
                    <td>
                        <dt class="text-dark">GHS 52.50</dt>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)"><i
                                class="fe fe-shopping-cart mr-2"></i>Add to cart</button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)"><i class="fe fe-trash"></i>
                            Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/9.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                    </td>
                    <td>
                        <dt class="text-dark">GHS 52.50</dt>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)"><i
                                class="fe fe-shopping-cart mr-2"></i>Add to cart</button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)"><i class="fe fe-trash"></i>
                            Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/7.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                    </td>
                    <td>
                        <dt class="text-dark">GHS 52.50</dt>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)"><i
                                class="fe fe-shopping-cart mr-2"></i>Add to cart</button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)"><i class="fe fe-trash"></i>
                            Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td>
                        <img style="width: 60px; height: 62px" src="assets/images/items/3.jpg">
                    </td>
                    <td>
                        <dt class="text-dark">Product name here</dt>
                    </td>
                    <td>
                        <dt class="text-dark">GHS 52.50</dt>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mx-2" (click)="addToCart(111)"><i
                                class="fe fe-shopping-cart mr-2"></i>Add to cart</button>
                        <button class="btn btn-outline-danger" (click)="removeItem(111)"><i class="fe fe-trash"></i>
                            Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>