<perfect-scrollbar [config]="configData" style="height: 80vh;">
    <div class="dialog-wrapper">
        <div class="dialog-head">
            <span class="dialog-head-title"> Terms and Conditions</span>
            <span (click)="closeDialog()">
                <i class="ri-close-line"></i>
            </span>
        </div>
        <mat-divider class="no-spacing"></mat-divider>
        <div class="dialog-body mt-3">
            Sign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditionsSign Up
            Provide your details using the form below.
            
            OR
            First Name
            First Name
            Last Name
            Last Name
            Email Address
            joshua@test.com
            Phone
            Phone number
            Password
            •••••••••••
            Confirm Password
            Re-Type Password
            I accept the terms and conditions
        </div>

        <div class="dialog-footer">
            <mat-divider class="no-spacing"></mat-divider>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" (click)="closeDialog()">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</perfect-scrollbar>