<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td >
                        <div class="row orders-align">
                            <div class="col-6"><img style="width: 40px; height: 42px" src="assets/images/items/6.jpg"></div>
                            <div class="col-6"><img style="width: 40px; height: 42px" src="assets/images/items/9.jpg"></div>
                            <div class="col-6"><img style="width: 40px; height: 42px" src="assets/images/items/10.jpg"></div>
                            <div class="col-6"><img style="width: 40px; height: 42px" src="assets/images/items/8.jpg"></div>
                        </div>
                        <!-- <div class="row orders-align">
                            <div class="col-6"><img style="width: 40px; height: 60px" src="assets/images/items/6.jpg"></div>
                            <div class="col-6"><img style="width: 40px; height: 60px" src="assets/images/items/9.jpg"></div>
                        </div>
                        <div class="row orders-align">
                            <img style="width: 80px; height: 82px" src="assets/images/items/9.jpg">
                        </div> -->

                    </td>
                    <td>
                        <dt class="text-dark">Order Number</dt>
                        <dd>CHM445542</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Date Placed</dt>
                        <dd>Jun 12, 2022 | 12:20 PM</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Status</dt>
                        <dd>Placed</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Order Amount</dt>
                        <dd>GHS 540.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary mx-2" (click)="viewOrderDetails(111)"><i class="fe fe-repeat"></i></button>
                        <button class="btn btn-outline-primary" (click)="viewOrderDetails(111)"><i class="fe fe-eye"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td >
                        <div class="row orders-align">
                            <div class="col-6"><img style="width: 40px; height: 60px" src="assets/images/items/6.jpg"></div>
                            <div class="col-6"><img style="width: 40px; height: 60px" src="assets/images/items/9.jpg"></div>
                        </div>
                    </td>
                    <td>
                        <dt class="text-dark">Order Number</dt>
                        <dd>CHM445542</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Date Placed</dt>
                        <dd>Jun 12, 2022 | 12:20 PM</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Status</dt>
                        <dd>Placed</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Order Amount</dt>
                        <dd>GHS 540.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary mx-2" (click)="viewOrderDetails(111)"><i class="fe fe-repeat"></i></button>
                        <button class="btn btn-outline-primary" (click)="viewOrderDetails(111)"><i class="fe fe-eye"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<article class="card mb-3">
    <div class="table-responsive">
        <table class="table" style="margin-bottom: 0px">
            <tbody style="white-space: no-wrap;">
                <tr>
                    <td >
                        <div class="row orders-align">
                            <img style="width: 80px; height: 82px" src="assets/images/items/9.jpg">
                        </div>
                    </td>
                    <td>
                        <dt class="text-dark">Order Number</dt>
                        <dd>CHM445542</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Date Placed</dt>
                        <dd>Jun 12, 2022 | 12:20 PM</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Status</dt>
                        <dd>Placed</dd>
                    </td>
                    <td>
                        <dt class="text-dark">Order Amount</dt>
                        <dd>GHS 540.50</dd>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary mx-2" (click)="viewOrderDetails(111)"><i class="fe fe-repeat"></i></button>
                        <button class="btn btn-outline-primary" (click)="viewOrderDetails(111)"><i class="fe fe-eye"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
